{% extends 'base.html' %}

{% block content %}

<h1 class="mb-4">Projects</h1>

    {% for project in object_list %}

    <div class="card text-white bg-secondary mb-3">
      <div class="card-header"><a class="h3 text-decoration-none text-white" href="{{ project.homeurl }}" target=”_blank”>{{ project.title }}</a>
        <div class="card-body row">
          <div class="row">
            <img class="img-fluid rounded project-width" src="{{ project.cover.url}}" alt="{{ project.title }}">
          </div>
          <div class="row">
            <div class="col-auto">
              <p class="card-text">{{ project.description | safe }}</p>
            </div>
          </div>
        </div>

    {% endfor %}


{% endblock content %}
