{% extends 'base.html' %}

{% block meta %}
    <!-- Other meta stuff -->
    <meta name="description" content="My thought and notes on {{ book.title }}">
      
    <meta property="og:title" content="Notes on {{ book.title }}">
    <meta property="og:type" content="article">
    <meta property="og:description" content="My thought and notes on {{ book.title }}">
    <meta name="og:image" content="{{ book.cover.url }}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ book.title }}">
    <meta name="twitter:description" content="My thought and notes on {{ book.title }}">
    <meta name="twitter:image" content="{{ book.cover.url }}">
{% endblock %}

{% block title %}{{ book.title }}{% endblock %}

{% load martortags %}


{% block content %}

  <p class="breadcrumb">← <a class="" href="{% url 'all_books' %}">back to books</a></p>

  <div class="" itemscope itemtype="https://schema.org/Book">
    <img class="float-left h-64 pb-4 pr-6" itemprop="image" src="{{ MEDIA_URL }}{{ book.cover }}" height="190px">
    <h1 class="text-4xl">
      <span itemprop="name">{{ book.title }}</span>
       by
      <span itemprop="author">{{ book.author }}</span>
    </h1>
    <hr class="mb-3">
    <p class="text-3xl">Date read: {{ book.date_read }}</p>
    <p class="text-3xl">How much I liked it: <b>{{ book.rank }}</b>/10</p>

    <p><a itemprop="url" href={{ book.buylink }} target="_blank">Buy on Amazon</a><p></p>
  </div>

  
  <section class="book-review">
    
    <div class="post-body">
      {{ book.description|safe_markdown }}
    </div>
    
  </section>

</div>



{% endblock content %}
