{% extends 'base.html' %}
{% block title %}Books I am currently reading{% endblock %}
{% load martortags %}

{% block meta %}
    <!-- Other meta stuff -->
    <meta name="description" content="These are the books I am currently reading.">
    
    <meta property="og:title" content="Rasul Kireev">
    <meta property="og:type" content="article">
    <meta property="og:description" content="These are the books I am currently reading.">
    <meta name="og:image" content="https://dj-pw-static.s3.amazonaws.com/media/my_photo.jpg">
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Rasul Kireev">
    <meta name="twitter:description" content="These are the books I am currently reading.">
    <meta name="twitter:image" content="https://dj-pw-static.s3.amazonaws.com/media/my_photo.jpg">
{% endblock %}

{% block content %}

<div class="flex flex-row flex-wrap items-start pb-6 mb-8 border-b-2 border-gray-200">
  <div><a class="p-2 mr-1 rounded-lg" href="{% url 'read-books' %}">Book Reviews</a></div>
  <h1><a class="p-2 mx-1 text-2xl text-white bg-blue-800 rounded-lg hover:bg-blue-800" href="{% url 'currently-reading-books' %}">Currently Reading</a></h1>
  <div><a class="p-2 ml-1 rounded-lg" href="{% url 'to-read-books' %}">Books to Read</a></div>
</div>

<section id="currently-reading">
  <ul itemscope itemtype="https://schema.org/Book">
    
    {% for book in object_list %}
          <li class="mb-4 text-xl">
          <img class="inline h-8 align-middle rounded-sm" itemprop="image" src="{{ MEDIA_URL }}{{book.cover}}" height="30">
          <a class="" itemprop="name" href="{{ book.buylink }}" target="_blank">{{book.title}}</a>
        </li>
    {% endfor %}

  </ul>
</section>

{% endblock %}
