{% extends 'base.html' %}
{% block title %}Book Notes & Reviews{% endblock %}
{% load martortags %}


{% block content %}

<div class="flex flex-row flex-wrap items-start pb-6 mb-8 border-b-2 border-gray-200">
  <div><a class="p-2 mr-1 rounded-lg" href="{% url 'read-books' %}">Book Reviews</a></div>
  <div><a class="p-2 mx-1 rounded-lg" href="{% url 'currently-reading-books' %}">Currently Reading</a></div>
  <h1><a class="p-2 ml-1 text-2xl text-white bg-blue-800 rounded-lg hover:bg-blue-800" href="{% url 'to-read-books' %}">Books to Read</a></h1>
</div>

<section id="books-to-read">
  <ul itemscope itemtype="https://schema.org/Book">
    
    {% for book in object_list %}
          <li class="mb-4 text-xl">
          <img class="inline h-8 align-middle rounded-sm" itemprop="image" src="{{ MEDIA_URL }}{{book.cover}}" height="30">
          <a class="" itemprop="name" href="{{ book.buylink }}" target="_blank">{{book.title}}</a>
        </li>
    {% endfor %}
    
  </ul>
</section>

{% endblock %}
