{% extends 'base.html' %}
{% block title %}Now{% endblock %}
{% load martortags %}


{% block content %}

    <section class="textblock">
      <h1>This is what I am up to <strong>Now</strong></h1>
      <p class="now-description">(This is a <a class="now-description" href="https://nownownow.com/">now</a> page, and if you have your own site, <a class="now-description" href="https://nownownow.com/about">you should make one</a>, too.)</p>
      {{ now.body | safe_markdown }}
      <hr>
      <p>Updated {{ now.title }}</p>
      <p><a class="block" href={% url 'archive' %}>Archive</a></p>
    </section>

{% endblock content %}
