{% extends 'base.html' %}

{% block meta %}
    <!-- Other meta stuff -->
    <meta name="description" content="This is what I am up to now.">
      
    <meta property="og:title" content="Now">
    <meta property="og:type" content="article">
    <meta property="og:description" content="This is what I am up to now.">
    <meta name="og:image" content="https://dj-pw-static.s3.amazonaws.com/media/my_photo.jpg">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@rasulkireev">
    <meta name="twitter:creator" content="@rasulkireev">
    <meta name="twitter:title" content="Now">
    <meta name="twitter:description" content="This is what I am up to now.">
    <meta name="og:image" content="https://dj-pw-static.s3.amazonaws.com/media/my_photo.jpg">
{% endblock %}

{% block title %}Now{% endblock %}

{% load martortags %}


{% block content %}

    <section class="now h-entry" itemscope itemtype="http://schema.org/BlogPosting">
      <!-- Author description -->
      <div style="display: none;" itemprop="author" itemscope itemtype="http://schema.org/Person">
        Published by 
        <a class="p-author h-card" rel="author" href="https://rasulkireev.com"><span itemprop="givenName">Rasul</span> <span itemprop='familyName'>Kireev</span></a>
        <img class="u-photo" src="{{ MEDIA_URL }}my_photo.jpg" height="200px" itemprop="image">
      </div>

      <h1 class="text-3xl font-bold md:text-4xl lg:text-5xl p-name" itemprop="name">This is what I am up to <strong>Now</strong></h1>
      <p class="mb-4 text-xl text-gray-600">Updated on <time class="dt-published" itemprop="dateCreated" datetime="{{ now.title }}">{{ now.title }}</time></p>
      <p class="mb-4">(This is a <a class="" href="https://nownownow.com/">now</a> page, and if you have your own site, <a class="now-description" href="https://nownownow.com/about">you should make one</a>, too.)</p>
      <a class="u-url" href="/now/" style="display: none;" itemprop="url"></a>
      
      <hr>

      <div class="pb-6 border-b-4 border-blue-600 markdown-body post-body e-content" itemprop="articleBody">
        {{ now.body | safe_markdown }}
      </div>
        <p class="mt-4 text-4xl"><a href={% url 'archive' %}>Archive</a></p>
    </section>

{% endblock content %}
