{% extends 'base.html' %}
{% block title %}Rasul Kireev | Journal{% endblock %}
{% load martortags %}


{% block content %}

<div class='card-box'>
  <h1>This is my Project Journal</h1>
  <hr>

  {% regroup object_list by date as journal_list %}
    {% for date in journal_list %}
        <h2>{{ date.grouper }}</h2>
          {% for entry in date.list %}
            <p><b>{{ entry.topic | safe }}:</b> {{ entry.body | safe_markdown }}</p>
          {% endfor %}
    {% endfor %}
<div class='card-box'>

{% endblock content %}
