{% extends 'base.html' %}
{% block title %}Writings | Rasul Kireev{% endblock %}


{% block content %}

<section id="blog-posts" >

  <h1 class="text-4xl">Writings</h1>
  <hr class="mb-4">

    <ul>
      {% for post in object_list %}
      {% if post.draft == False %}
        <li class="mb-4 text-xl" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
          <img class="inline w-8 align-middle" src="{{MEDIA_URL}}{{post.cover}}" width="30" height="30">
          <a class="" href="{% url 'post' post.slug %}">{{ post.title }}</a>
          <span class="post-category">{{post.category}}</span>
          <span class="post-date">{{post.date}}</span>
        </li>
      {% endif %}
      {% endfor %}
    </ul>

</section>


{% endblock content %}
