{% extends 'base.html' %}
{% block title %}Writings | Rasul Kireev{% endblock %}


{% block content %}

<div class="card-box">
  <h1>All posts</h1>
  <a class="button" href="https://tinyletter.com/rasulkireev">Subscribe</a>

  {% regroup object_list|dictsort:"category" by category as posts %}
    {% for category in posts %}
    <h2>{{ category.grouper }}</h2>
    <ul>
      {% for post in category.list %}
      {% if post.draft == False %}
        <li class="blog-post-list-item">
          <img class="blog-post-cover" src="{{MEDIA_URL}}{{post.cover}}" width="30" height="30">
          <a class="blog-post-title" href="{% url 'post' post.slug %}">{{ post.title }}</a>
        </li>
      {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}




{% endblock content %}
