{% load static %}
{% extends 'base.html' %}

{% block meta %}
    <!-- Other meta stuff -->
    <meta name="description" content="{{ post.description }}">
    <meta name="keywords" content="{{ post.tags }}" />
    
    <meta property="article:published_time" content="{{post.date}}" />
    <meta property="article:section" content="{{ post.category }}" />
    <meta property="article:tag" content="{{ post.tags }}" />

      
    <meta property="og:title" content="{{ post.title }}">
    <meta property="og:type" content="article">
    <meta property="og:description" content="{{ post.description }}">
    {% if post.main_image %}
    <meta name="og:image" content="{{post.main_image.url}}">
    {% endif %}

    <meta name="twitter:title" content="{{ post.title }}">
    <meta name="twitter:description" content="{{ post.description }}">
    {% if post.main_image %}
    <meta name="twitter:image" content="{{ post.main_image.url }}">
    {% endif %}
{% endblock %}

{% block title %}{{post.title}}{% endblock %}

{% load martortags %}

{% block content %}

    <p class="mb-2 text-blue-700">← <a class="" href="{% url 'all_posts' %}">back to posts</a></p>

    <article class="h-entry" id="blogpost" itemscope itemtype="http://schema.org/BlogPosting">
        <!-- Author description -->
        <div style="display: none;" itemprop="author" itemscope itemtype="http://schema.org/Person">
            Published by 
            <a class="p-author h-card" rel="author" href="https://rasulkireev.com"><span itemprop="givenName">Rasul</span> <span itemprop='familyName'>Kireev</span></a>
            <img class="u-photo" src="{{ MEDIA_URL }}my_photo.jpg" height="200px" itemprop="image">
        </div>
      
        <!-- Post Info -->
        <h1 class="text-3xl p-name" itemprop="name">{{ post.title }}</h1>
        <h2 class="p-category" style="display: none;" itemprop="about">{{ post.category }}</h2>
        <a class="u-url" href="{{ post.get_absolute_url }}" style="display: none;" itemprop="url"></a>
        <p class="m-0 text-sm text-gray-600"><time class="dt-published" itemprop="dateCreated" datetime="{{post.date}}">{{post.date|date:'F jS, Y'}}</time></p>
        <p class="p-summary" style="display: none;" itemprop="abstract">{{ post.description }}</p>
        
        <hr class="mb-4">
      
        <!-- Article Body -->
        <div class="markdown-body e-content post-body" itemprop="articleBody">
            {{ post.body | safe_markdown }}
        </div>
        
    </article>
    
{% endblock content %}
