{% extends 'base.html' %}
{% load static %}

{% block d3.js %}
    <style type="text/css">
        /* 13. Basic Styling with CSS */
        
        /* Style the lines by removing the fill and applying a stroke */
        .line {
            fill: none;
            stroke: #ffab00;
            stroke-width: 3;
        }
          
        .overlay {
          fill: none;
          pointer-events: all;
        }
        
        /* Style the dots by assigning a fill and stroke */
        .dot {
            fill: #ffab00;
            stroke: #fff;
        }
          
          .focus circle {
          fill: none;
          stroke: steelblue;
        }
        
    </style>

    <script src="https://d3js.org/d3.v5.min.js"></script>
{% endblock %}

{% block content %}

    <script>
        var data = d3.json("/api/v1/weight/?format=json")
    </script>
    

    <h1>Weight Records</h1>
    
    <table>
        <tr>
            <th>Date</th>
            <th>Weight</th>
        </tr>

        {% for entry in object_list %}
            <tr>
                <td>{{ entry.date_and_time|date:'j/d/y' }}</td>
                <td>{{ entry.weight }}kg</td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}
