{% extends 'base.html' %}

{% block content %}

    <div class="card">
      <div class="card-header h2">Projects</div>
      <div class="card-body">
      <ul>
        {% for project in object_list %}
        <li>
          <div class="post-entry">
            <a href={{ project.homeurl }}>{{ project.title }}</a>
          </div>
        </li>
        {% endfor %}
      </ul>
      </div>
    </div>


    <!-- <div class="card text-white bg-secondary mb-3">
      <div class="card-header"><a class="h3 text-decoration-none text-white" href="{{ project.homeurl }}" target=”_blank”>{{ project.title }}</a>
        <div class="card-body row">
          <div class="row">
            <img class="img-fluid rounded project-width" src="{{ project.cover.url}}" alt="{{ project.title }}">
          </div>
          <div class="row">
            <div class="col-auto">
              <p class="card-text">{{ project.description | safe }}</p>
            </div>
          </div>
        </div> -->



{% endblock content %}
