{% extends 'base.html' %}


{% block content %}

      <div class="card-box">
        <h1>Me</h1>
        <hr>
        <p>I like to make things from scratch, automate wherever possible and want to contribute to open-source projects more.</p>
        <p>I like to write about my learning experiences and anything that interests me.</p>

        <img src="{{ MEDIA_URL }}my_photo.jpg" height="200px">

        <h3>Around the web:</h2>
        <p class="soc-link">Email: <a rel="me" href="mailto:me@rasulkireev.com" target="_blank">me@rasulkireev.com</a></p>
        <p class="soc-link">LinekdIn: <a rel="me" href="https://www.linkedin.com/in/rasul-kireev/" target="_blank">linkedin.com/in/rasul-kireev/</a></p>
        <p class="soc-link">GitHub: <a rel="me" href="https://github.com/rasulkireev" target="_blank">github.com/rasulkireev</a></p>
      </div>


           <section class="card-box" id="about-me">
            <!-- <h1>About:</h1>
            <p>Lorem Ipsum</p> -->
            <h2>Timeline:</h2>
            <hr>
              <ul>
                <li class='timeline'>1996: Born in Moscow</li>
                <li class='timeline'>2008: Wrote my first HTML code</li>
                <li class='timeline'>2011: Moved to Leominster, UK to study in Lucton School (High School)</li>
                <li class='timeline'>2012: Got a closer introduction to Economics and Statistics. Decided to focus ojn these in University.</li>
                <li class='timeline'>2013: Got my first job as a Lifeguard and a summer school staff</li>
                <li class='timeline'>2014: Moved to Boston, USA to pursue a bachelors degree in Economics and Mathematics at Northeastern University</li>
                <li class='timeline'>2018 - August: Got married to the love of my life</li>
              </ul>
            </section>

            <section class="card-box" id="currently-using">
             <!-- <h1>About:</h1>
             <p>Lorem Ipsum</p> -->
             <h2>Currently using:</h2>
             <hr>
               <ul>
                 <li class='timeline'>1996: Born in Moscow</li>
                 <li class='timeline'>2008: Wrote my first HTML code</li>
                 <li class='timeline'>2011: Moved to Leominster, UK to study in Lucton School (High School)</li>
                 <li class='timeline'>2012: Got a closer introduction to Economics and Statistics. Decided to focus ojn these in University.</li>
                 <li class='timeline'>2013: Got my first job as a Lifeguard and a summer school staff</li>
                 <li class='timeline'>2014: Moved to Boston, USA to pursue a bachelors degree in Economics and Mathematics at Northeastern University</li>
                 <li class='timeline'>2018 - August: Got married to the love of my life</li>
               </ul>
             </section>

{% endblock content %}
