{% load static %}
{% load analytical %}
{% load google_analytics_js %}

<!doctype html>
<html>
  <head>
    {% analytical_head_top %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- for favicon from favicon.io -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">

    <!-- Martor CSS -->
    <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
    <link href="{% static 'plugins/css/semantic.min.css' %}" type="text/css" media="all" rel="stylesheet" />
    <link href="{% static 'martor/css/martor.min.css' %}" type="text/css" media="all" rel="stylesheet" />

    <!-- stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <title>{% block title %}Rasul Kireev | Personal Website{% endblock %}</title>

    <!-- Martor JS -->
    <script type="text/javascript" src="{% static 'plugins/js/jquery.min.js' %}"></script>
    {% analytical_head_bottom %}
  </head>
  <body>
    {% analytical_body_top %}

    <div id="page">
      <div id="navbar">
        <section class="navbar-item" id="brand">
          <a rel="me" class="p-name u-url" href="/"><b>Rasul Kireev</b></a>
        </section>
        <section class="navbar-item" id="sociallinks">
            <a rel="me" href="https://www.linkedin.com/in/rasul-kireev/" target="_blank"><i class="fab fa-linkedin-in fa-3x"></i></a>
            <a rel="me" href="https://github.com/rasulkireev" target="_blank"><i class="fab fa-github fa-3x"></i></a>
            <a rel="me" href="https://stackoverflow.com/users/6020165/rasul-kireev" target="_blank"><i class="fab fa-stack-overflow fa-3x"></i></a>
            <a rel="me" href="https://www.quora.com/profile/Rasul-Kireev" target="_blank"><i class="fab fa-quora fa-3x"></i></a>
            <a rel="me" class="u-email" href="mailto:kireevr1996@gmail.com"><i class="fas fa-at fa-3x"></i></a>
        </section>
        <section class="navbar-item" id="logo">
            <a href="/"><img class="logo-pic u-photo" src="https://media.licdn.com/dms/image/C4E03AQFZwChWH3z5iw/profile-displayphoto-shrink_200_200/0?e=1568851200&v=beta&t=ekBx6Lwmaz819-RHJFM9221kQr2LPE9xFEPBIFLUX1g"></a>
        </section>
        <section class="navbar-item" id="nav">
            <a class="nav-item" href="/">home</a>
            <a class="nav-item" href="{% url 'about' %}">about</a>
            <a class="nav-item" href="{% static 'Resume Rasul Kireev.pdf' %}" id="resume" target="_blank">resume</a>
            <!-- <a class="nav-item" href="{% url 'gallery' %}">photos</a> -->
            <a class="nav-item" href="{% url 'all_posts' %}">writings</a>
            <a class="nav-item" href="{% url 'all_books' %}">books</a>
            <a class="nav-item" href="{% url 'project_list' %}">projects</a>
          </section>
      </div>
      <div id="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>

    {% analytical_body_bottom %}

    <!-- Martor JS -->
    <script type="text/javascript" src="{% static 'plugins/js/semantic.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
    <script>
      $('pre').each(function(i, block){
          hljs.highlightBlock(block);
      });
      $('.ui.dropdown').dropdown();
    </script>

  </body>
</html>
