{% load static %}
{% load analytical %}
{% load google_analytics_js %}

<!doctype html>
<html itemscope itemtype="http://schema.org/Blog">
  <head>
    {% analytical_head_top %}

    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <meta property="og:url" content="{{ request.build_absolute_uri  }}" />
    <meta property="og:site_name" content="Rasul Kireev | Personal Website" />
    
    <meta name="twitter:site" content="@rasulkireev">
    <meta name="twitter:creator" content="@rasulkireev">

    {% block meta %}
    <!-- Other meta stuff -->
    <meta name="description" content="{% block description %}My peronal page to document my life journey.{% endblock %}">
    
    <meta property="og:title" content="Rasul Kireev">
    <meta property="og:type" content="article">
    <meta property="og:description" content="{% block og-description %}My peronal page to document my life journey.{% endblock %}">
    <meta name="og:image" content="https://dj-pw-static.s3.amazonaws.com/media/my_photo.jpg">
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Rasul Kireev">
    <meta name="twitter:description" content="{% block twitter-description %}My peronal page to document my life journey.{% endblock %}">
    <meta name="twitter:image" content="https://dj-pw-static.s3.amazonaws.com/media/my_photo.jpg">
    {% endblock %}

    <link rel="canonical" href="{{ request.build_absolute_uri  }}" />
    <link rel="shortlink" href="{{ request.path }}">

    <!-- for favicon from favicon.io -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">

    <!-- stylesheet -->
    <link rel="stylesheet" href="{% static 'css/final.css' %}">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/github-markdown.css' %}">

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!-- Hypothesis -->
    <!-- <script src="https://hypothes.is/embed.js" async></script> -->

    <!-- Crisp Chat -->
    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="530bbe6e-391d-4292-9a80-814ffa04a733";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
    
    <title>{% block title %}Rasul Kireev | Personal Website{% endblock %}</title>

    {% block d3_js %}
      {# Import D3.js CDN #}
      {# Plus any additional styling for D3 chart #}
    {% endblock %}


    {% block martor_css %}
    {% endblock martor_css %}

    {% analytical_head_bottom %}
  </head>
  
  <body class="max-w-3xl mx-auto leading-relaxed">
    {% analytical_body_top %}  
    <div id="app" class="container flex flex-col px-5 md:mt-6">
      
      <header class="fixed top-0 left-0 z-10 w-full bg-white h-card" itemprop="author" itemscope itemtype="http://schema.org/Person">      
        <div class="flex flex-col justify-between max-w-3xl px-6 m-auto sm:flex-row md:h-24">
          <div class="flex flex-row items-center justify-between w-full h-16 md:h-24">
            <div class="brand">
              <a class="flex flex-row items-center u-url" href="{% url 'home' %}">
                <img class="w-8 h-8 mx-auto mr-2 rounded-lg shadow u-photo" src="https://avatars.githubusercontent.com/u/8257474">
                <span class="block text-xl font-semibold no-underline p-name u-url">Rasul Kireev</span>
              </a>
            </div>
            <button class="sm:hidden" @click="isOpen = !isOpen" type="button">
              <svg viewBox="0 0 100 50" width="30" height="30">
                <rect width="80" height="10"></rect>
                <rect y="20" width="80" height="10"></rect>
                <rect y="40" width="80" height="10"></rect>
              </svg>
            </button>
          </div>
            <nav v-bind:class="isOpen ? 'block' : 'hidden'" class="flex-col items-start justify-end flex-1 mt-0 mb-2 sm:flex sm:mx-0 sm:items-center sm:flex-row">
              <a class="flex items-center w-full p-2 m-0 text-lg leading-tight text-left text-blue-700 rounded sm:w-auto sm:text-center hover:bg-gray-300" href="{% url 'about' %}">About</a>
              <a class="flex items-center w-full p-2 m-0 text-lg leading-tight text-left text-blue-700 rounded sm:w-auto sm:text-center hover:bg-gray-300" href="{% url 'all_posts' %}">Writings</a>
              <a class="flex items-center w-full p-2 m-0 text-lg leading-tight text-left text-blue-700 rounded sm:w-auto sm:text-center hover:bg-gray-300" href="#">Notes</a>
              <a class="flex items-center w-full p-2 m-0 text-lg leading-tight text-left text-blue-700 rounded sm:w-auto sm:text-center hover:bg-gray-300" href="{% url 'now' %}">Now</a>
              <a class="flex items-center w-full p-2 m-0 text-lg leading-tight text-left text-blue-700 rounded sm:w-auto sm:text-center hover:bg-gray-300" href="#">Experiments</a>
            </nav>
          </div>
      </header>     
     
       <div class="mt-20">
        {% block content %}
        {% endblock %}
      </div>

      <footer class="flex flex-col items-center justify-between w-full h-16 md:flex-row md:h-20 pin-b">
        <div class="flex flex-row">
          <a class="flex items-center pr-2 m-0 leading-tight text-center text-gray-600" href="https://rasulkireev.com/rss.xml">RSS</a>
          <a class="flex items-center p-2 m-0 leading-tight text-center text-gray-600" href="https://rasulkireev.substack.com/">Newsletter</a>
        </div>
        <div class="">
          <a class="text-blue-700" href="https://xn--sr8hvo.ws/%E2%9E%B0%F0%9F%8D%8A%E2%8F%AD/previous">←</a>
          An IndieWeb Webring 🕸💍
          <a class="text-blue-700" href="https://xn--sr8hvo.ws/%E2%9E%B0%F0%9F%8D%8A%E2%8F%AD/next">→</a>
        </div>
      </footer>
      
    </div>

    <script>
      var app = new Vue({
        el: '#app',
        data: {
          isOpen: false,
        }
      })
    </script>

    {% block martor_js %}
    {% endblock martor_js %}
    
    {% analytical_body_bottom %}
  </body>
</html>
