{% load static %}
{% load analytical %}
{% load google_analytics_js %}

<!doctype html>
<html itemscope itemtype="http://schema.org/Blog">
  <head>
    {% analytical_head_top %}

    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <meta property="og:url" content="{{ request.build_absolute_uri  }}" />
    <meta property="og:site_name" content="Rasul Kireev | Personal Website" />
    
    <meta name="twitter:site" content="@rasulkireev">
    <meta name="twitter:creator" content="@rasulkireev">

    {% block meta %}
    <!-- Other meta stuff -->
    <meta name="description" content="My peronal page to document my life journey.">
    
    <meta property="og:title" content="Rasul Kireev">
    <meta property="og:type" content="article">
    <meta property="og:description" content="My peronal page to document my life journey.">
    <meta name="og:image" content="https://dj-pw-static.s3.amazonaws.com/media/my_photo.jpg">
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Rasul Kireev">
    <meta name="twitter:description" content="My peronal page to document my life journey">
    <meta name="twitter:image" content="https://dj-pw-static.s3.amazonaws.com/media/my_photo.jpg">
    {% endblock %}

    <link rel="canonical" href="{{ request.build_absolute_uri  }}" />
    <link rel="shortlink" href="{{ request.path }}">

    <!-- for favicon from favicon.io -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">

    <!-- stylesheet -->
    <link rel="stylesheet" href="{% static 'css/final.css' %}">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/github-markdown.css' %}">
    
    <title>{% block title %}Rasul Kireev | Personal Website{% endblock %}</title>

    {% block d3.js %}
      {# Import D3.js CDN #}
      {# Plus any additional styling for D3 chart #}
    {% endblock %}

    {% analytical_head_bottom %}
  </head>
  
  <body class="leading-relaxed">
    {% analytical_body_top %}
    <div class="container flex flex-col max-w-2xl px-5 mx-auto my-4 md:mt-6">
      
      <header class="flex flex-row items-start mb-2 h-card" itemprop="author" itemscope itemtype="http://schema.org/Person">                  
        <a class="u-url" href="{% url 'home' %}">
          <img class="float-left w-20 h-20 mx-auto mt-2 mr-4 rounded-full shadow md:inline u-photo" src="https://avatars.githubusercontent.com/u/8257474">
        </a>
        <div class="mt-0">
          <h1 class="inline-block"><a class="mb-2 text-3xl font-semibold no-underline p-name u-url" href="{% url 'home' %}">Rasul Kireev</a></h1>
          
          <nav class="mb-2">
            <a class="mr-1 text-lg text-blue-700" href="{% url 'about' %}">About</a>
            <a class="mr-1 text-lg text-blue-700" href="{% url 'all_posts' %}">Writings</a>
            <a class="mr-1 text-lg text-blue-700" href="{% url 'now' %}">Now</a>
          </nav>
          <div class="mb-2">
            <a rel="me" href="https://twitter.com/rasulkireev"><i class="text-3xl lab la-twitter"></i></a>
            <a rel="me" href="https://github.com/rasulkireev"><i class="text-3xl lab la-github"></i></a>
            <a rel="me" href="https://www.linkedin.com/in/rasul-kireev/"><i class="text-3xl lab la-linkedin-in"></i></a>
            <a rel="me" class="u-email" href="mailto:me@rasulkireev.com"><i class="text-3xl las la-at"></i></a>
          </div>
        </div>
      </header>     

      <div>
        <a class="block w-full p-2 mb-4 text-center text-white bg-green-500 rounded-lg md:w-1/2 hover:bg-green-800" href="https://rasulkireev.substack.com/">Subscribe</a>
        <div class="w-full p-2 mb-4 text-center bg-gray-400 rounded-lg md:w-1/2 ">
          <a href="https://xn--sr8hvo.ws/%E2%9E%B0%F0%9F%8D%8A%E2%8F%AD/previous">←</a>
          An IndieWeb Webring 🕸💍
          <a href="https://xn--sr8hvo.ws/%E2%9E%B0%F0%9F%8D%8A%E2%8F%AD/next">→</a>
        </div>
      </div>
      
       <div class="mb-3">
        {% block content %}
        {% endblock %}
      </div>

      <!-- <footer class="flex flex-col justify-between w-full py-2 pin-b">
      </footer> -->
    </div>
    {% analytical_body_bottom %}
  </body>
</html>
