{% extends 'base.html' %}
{% load static %}

{% block content %}

  <section>
    <h1 class="text-4xl">Currently Working On</h1>
    <hr class="mb-4">
    <ul class="">
      <li class="mb-4 text-xl">
        <img class="inline w-8 align-middle" src="{% static 'images/kushim.png' %}" alt="Kushim">
        <a class="" href="https://kushim.io">Kushim</a>
      </li>

      <li class="mb-4 text-xl">
        <img class="inline w-8 align-middle" src="{% static 'images/djangostack-stack-220x234.png' %}" alt="Django">
        <a class="" href="https://builtwithdjango.com">Built with Django</a>
      </li>
    </ul>
  </section>

        
  <section>
      <h1 class="text-4xl">Recent Writings</h1><a href="{% url 'all_posts' %}">See all</a>
      <hr class="mb-4">
      {% load post_tags %}
      {% latest_posts Post %}
  </section>

  <section>
      <h1 class="text-4xl">Recent Book Reviews</h1><a href="{% url 'all_books' %}">See all</a>
      <hr class="mb-4">
      {% load book_tags %}
      {% latest_books Book %}
  </section>

  <section>
    <h1 class="text-4xl">Open Source Projects</h1>
    <hr class="mb-4">
    <ul>
      <li class="mb-4 text-xl">
        <img class="inline w-8 align-middle" src="{% static 'images/kushim.png' %}" alt="Kushim">
        <a class="" href="https://kushim.io">Kushim</a>
        <span class="post-category">Created</span>
      </li>

      <li class="mb-4 text-xl">
        <img class="inline w-8 align-middle" src="{% static 'images/djangostack-stack-220x234.png' %}" alt="Django">
        <a class="" href="https://github.com/rasulkireev/django-saas-template">django-saas-template</a>
        <span class="post-category">Created</span>
      </li>
          
      <li class="mb-4 text-xl">
        <img class="inline w-8 align-middle" src="{% static 'images/djangostack-stack-220x234.png' %}" alt="Awesome">
        <a class="" href="https://github.com/joke2k/django-environ">django-environ</a>
        <span class="post-category">Contributed</span>
      </li>

      <li class="mb-4 text-xl">
        <img class="inline w-8 align-middle" src="{% static 'images/webmentions.png' %}" alt="WebMentions">
        <a class="" href="https://github.com/beatonma/django-wm">django-wb (webmentions)</a>
        <span class="post-category">Contributed</span>
      </li>

      <li class="mb-4 text-xl">
        <img class="inline w-8 align-middle" src="{% static 'images/awesome.png' %}" alt="Awesome">
        <a class="" href="https://github.com/mezod/awesome-indie">awesome-indie</a>
        <span class="post-category">Contributed</span>
      </li>

      <li class="mb-4 text-xl">
        <img class="inline w-8 align-middle" src="{% static 'images/awesome.png' %}" alt="Django">
        <a class="" href="https://github.com/academic/awesome-datascience">awesome-datascience</a>
        <span class="post-category">Contributed</span>
      </li>

      <li class="mb-4 text-xl">
        <img class="inline w-8 align-middle" src="{% static 'images/remote.jpg' %}" alt="Django">
        <a class="" href="https://github.com/remoteintech/remote-jobs">remotejobs</a>
        <span class="post-category">Contributed</span>
      </li>

    </ul>
</section>

{% endblock content %}
