{% extends 'base.html' %}


{% block content %}

  <section class="card-box" id="me">
    <h1>Hi, I'm Rasul</h1>
    <hr>
    <p>I write about Data Science, Django and anything else I am lucky to learn.</p>
    <p><a href="{% url 'about' %}">More about me </a>
  </section>

  <section class="card-box" id="now">
    <p>This is what I am up to <a href="{% url 'now' %}">Now</a></p>
  </section>

  <section class="card-box" id="wiltw">
    <p>This is <a href="{% url 'wiltw_now' %}">what I have learnt last week</a></p>
  </section>

  <section class="card-box" id="recentposts">
      <h1 class='has-a-note'>Recent Posts<br><a class="note" href="{% url 'all_posts' %}">See all</a></h1>
      <hr>
      {% load post_tags %}
      {% latest_posts Post %}
  </section>

{% endblock content %}
