{% extends 'base.html' %}
{% block title %}Writings | Rasul Kireev{% endblock %}

{% block meta %}
    <!-- Other meta stuff -->
    <meta name="description" content="These are some of my writings. I am trying to share everything I learn.">
    
    <meta property="og:title" content="Rasul Kireev">
    <meta property="og:type" content="article">
    <meta property="og:description" content="These are some of my writings. I am trying to share everything I learn.">
    <meta name="og:image" content="https://dj-pw-static.s3.amazonaws.com/media/my_photo.jpg">
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Rasul Kireev">
    <meta name="twitter:description" content="These are some of my writings. I am trying to share everything I learn.">
    <meta name="twitter:image" content="https://dj-pw-static.s3.amazonaws.com/media/my_photo.jpg">
{% endblock %}

{% block content %}

<section id="blog-posts" >

  <h1 class="mb-4 text-2xl font-semibold">
    Writings
    <a class="mx-1 text-sm font-normal text-blue-500" href="{% url 'writings-json' %}">JSON</a>
    <a class="mx-1 text-sm font-normal text-blue-500" href="https://fd3.netlify.com">Stats</a>
  </h1>

      {% for post in object_list %}
      {% if post.draft == False %}
      <div class="mb-1">
        <a class="flex flex-row items-center p-1 text-xl text-gray-900 rounded-lg hover:bg-gray-200" href="{% url 'post' post.slug %}" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
          <img class="inline w-16 h-16 p-2 mr-4 align-middle" src="{{MEDIA_URL}}{{ post.cover }}">
          <div class="">
            <p class="text-sm md:text-lg">{{ post.title }}</p>
            <p class="m-0 text-xs text-gray-600"><time class="dt-published" itemprop="dateCreated" datetime="{{post.date}}">{{post.date|date:'F jS, Y'}}</time></p>
          </div>
        </a>
      </div>

      {% endif %}
      {% endfor %}
</section>


{% endblock content %}
